{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}

<div>
        <p>Q1 : What is a computer network?</p>
        <br>
        <form>
            <input type="radio" value = "Bhanu" name = "option" class="bhanug"> A super computer owned only by the government <br>
            <input type="radio" value = "Simran" name = "option"> A web of connected computers or devices @<br>
            <input type="radio" value = "Ashish" name = "option"> A computer vulnerability <br>
            <input type="radio" value = "Aditi" name = "option"> All of the Above <br><br>
            <input type="button" value = "Submit" name = "btn" class="submit" onclick="ans1()"> 
        </form>
        <br>
        <p>Q2 : Why are cyber vulnerabilities unlikely to ever go away?</p>
        <br>
        <form>
            <input type="radio" value = "Bhanu" name = "option" class="bhanug"> Criminals need them to steal identities. <br>
            <input type="radio" value = "Simran" name = "option"> The government won’t allow people to fix them. <br>
            <input type="radio" value = "Ashish" name = "option">They’re protected in a secret base on the moon. <br>
            <input type="radio" value = "Aditi" name = "option"> They are side effects of the freedom and ease of communicating online. @<br><br>
            <input type="button" value = "Submit" name = "btn" class="submit" onclick="ans2()"> 
        </form>
</div>

<script> 
    
	function ans1()
	{
		alert("CORRECT ANSWER IS : A web of connected computers or devices");
	}

    function ans2()
	{
		alert("CORRECT ANSWER IS :  They are side effects of the freedom and ease of communicating online");
	}
</script>