/* .head {
    height: 300px;
    width: 100%;
    border: 2px solid orange;
}

.outer {
    height: 100%;
    width: 100%;
    color: navy;
}

.main {
    height: 30%;
    width: 50%;
    border: 1px solid blueviolet;
    float: left;
    border-top: none;
}

.top {
    height: 14%;
    width: 49%;
    border: 1px solid green;
    float: left;
    border-left: none;
    border-top: none;
}

.down {
    height: 14%;
    width: 49%;
    border: 1px solid red;
    float: left;
    border-left: none;
    border-top: none;
} */