<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action='/add' method = "POST">
        Q1. What is a computer network?<br>
        <input type="radio" value="A" name="option"> A Super computer owned only by the government.<br>
        <input type="radio" value="B" name="option"> A web of connected computers or devices<br>
        <input type="radio" value="C" name="option"> A computer vulnerablity<br>
        <input type="radio" value="D" name="option"> All of the above<br>

        <input type="submit" value="submit" name = "btn" class="submit">
    </form>

    <br>
    <br>
    
    <form action='/add' method = "POST">
        Q2. Why are cyber vulnerablities unlikely to ever go away?<br>
        <input type="radio" value="A" name="option"> Criminals need them to steal identities.<br>
        <input type="radio" value="B" name="option"> The government wont't allow people to fix them.<br>
        <input type="radio" value="C" name="option"> They're protected in a secret base on the moon.<br>
        <input type="radio" value="D" name="option"> They are side effects of the freedom and ease of communication online.<br>

        <input type="submit" value="submit" name = "btn" class="submit">
    </form>
</body>
</html>