<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div>
        <p>Q1 : What is a computer network?</p>
        <br>
        <form action='/add' method="POST">
            <input type="radio" value="A" name="option"> A super computer owned only by the government <br>
            <input type="radio" value="B" name="option"> A web of connected computers or devices @<br>
            <input type="radio" value="C" name="option"> A computer vulnerability <br>
            <input type="radio" value="D" name="option"> All of the Above <br><br>
            <!-- <input type="text" style="display: none" name="id" value=""> -->
            <input type="submit" value="Submit" name="btn" class="submit">
        </form>
        <br>
        <br>
        <p>Q2 : Why are cyber vulnerabilities unlikely to ever go away?</p>
        <br>
        <form action='/add' method="POST">
            <input type="radio" value="A" name="option"> Criminals need them to steal identities. <br>
            <input type="radio" value="B" name="option"> The government won’t allow people to fix them. <br>
            <input type="radio" value="C" name="option">They’re protected in a secret base on the moon. <br>
            <input type="radio" value="D" name="option"> They are side effects of the freedom and ease of communicating online. @<br><br>
            <input type="submit" value="Submit" name="btn" class="submit">
        </form>
    </div>
</body>

</html>